/* styles.css */

body {
    font-family: 'DIN Alternate', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    min-height: 1000px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE4C4;
    color: #000000;
    padding: 1em;
}

.header__logo {
    flex: 1;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav__item {
    margin-right: 10px;
}

.nav__link {
    color: #000000	;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
}

.nav__link:hover {
    border-color: #FF6347;
}

.nav__link.active {
    background-color: white;
    text-decoration: underline;
}

.nav__item--profile {
    margin-left: auto;
}

.nav__item--profile img {
    width: 20px;
    height: 18px;
}


.nav__item--profile i {
    margin-right: 5px;
}


.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.3);

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
}

.products {
    width: 80%;
}

.product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    border: 1px solid #DEB887;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item__image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-item__price {
    font-weight: bold;
    color: #FF6347;
    font-size: 1.2em;
}
.delivery-table {
    margin-top: 20px;
}

.delivery-table__title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.delivery-table__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.delivery-table__cell {
    padding: 10px;
    border: 1px solid white;
}

.delivery-table__row {
    background-color: antiquewhite;
    font-weight: bold;
}

.delivery-table__row-even {
    background-color: antiquewhite;
}

.empty-cart-message {
    text-align: center;
    padding: 50px 0;
}

.empty-cart-message p {
    font-size: 1.5em;
    color: #555;
}

.empty-cart-message a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #DEB887;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.empty-cart-message a:hover {
    background-color: grey;
}


.delivery-table {
    margin-top: 20px;
}

.delivery-table__title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.delivery-table__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.delivery-table__cell {
    padding: 10px;
    border: 1px solid white;
}

.delivery-table__row {
    background-color: antiquewhite;
    font-weight: bold;
}

.delivery-table__row-even {
    background-color: antiquewhite;
}

.about-section {
    display: flex;
}

.about-section__image {
    flex: 0 0 66.66667%;
}

.about-section__image img {
    width: 100%;
    height: auto;
}

.about-section__text {
    flex: 0 0 33.33333%;
    padding: 0 20px;
    font-family: 'Dancing Script', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-form {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
}

.results-container {
    max-width: 400px;
    margin-left: auto;
}


.input-field {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

.success-message {
    color: green;
    margin-top: 10px;
    display: none;
}

.footer {
    background-color: #FFE4C4;
    color: #000000;
    text-align: center;
    padding: 1em;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__link {
    margin-right: 4px;
}

.footer__link a {
    color: #FF6347;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #FFD700;
}

.footer__article {
    margin-right: auto;
}

.footer__performance {
    margin-left: fill;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
}

h2, h3 {
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .footer__links {
        display: none;
    }
}

@media screen and (max-width: 1175px) {
    .delivery-table {
        display: none;
    }

@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/DancingScript.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}